@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<cshtml>
    <head>
        <title>Registration Failed</title>
    </head>
    <body>
        <p>
            Registration failed try again
        </p>
        <a asp-action="Index">Back to List</a>
    </body>
</cshtml>
