@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<cshtml>
    <head>
        <title>Registration Complete</title>
    </head>
    <body>
        <h1>Success!</h1>
        <p>You have been registered, you can now return to the main page</p>
        <div>
                <a asp-controller="login" asp-action="">Login</a>
        </div>
    </body>
</cshtml>
